@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --background: rgb(255, 255, 255);
  --cardbg: rgb(250, 250, 250);
  --textcolor: rgb(42, 42, 42);
  --bordercolor: rgb(230, 230, 230);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(18, 18,18) ;
    --textcolor: rgb(255, 255, 255);
    --cardbg: rgb(24,24, 24);
    --bordercolor: rgb(64, 64, 64);
  }
} */

